<%- include("page_top.ejs") %>
<main>
    <div id="lineForm">
        <input type="text" id="name" placeholder="name of theme">
        <br>
        <input type="color" name="" id="bg_color" \>
        <br>
        <input type="color" name="" id="text_color" \>
        <br>
        <button>save</button>
    </div>
</main>
<%- include("page_bottom.ejs") %>
